## Ignoring PyCharm settings
/.idea

## Ignoring Python complied files
/__pycache__
/module_parsing/__pycache__
/module_choice/__pycache__
/module_choice/form.py
/module_main/__pycache__
/module_main/form.py
/module_second/__pycache__
/module_second/form.py
/module_config_editor/__pycache__
/module_config_editor/form.py

## Ignoring UPX
/upx

## Ignoring build from cx_Freeze
/prog_build

## Ignoring build files from PyInstaller
/build
/dist
