## Ignore PyCharm settings
/.idea

## Ignore virtual enviroment
/venv

## Ignore Python complied files
*__pycache__

## Ignore ui -> py transform
*/form.py 

## Ignore UPX
/upx

## Ignore build from cx_Freeze
/prog_build

## Ignore build files from PyInstaller
/build
/dist

## Ignore .bak files
*.bak
